<div>
  <a href="#/templates">Go Back</a>
  <br><br>
  <div class="col-md-4">
    <img class="img-full" src="image/{{MainImage}}">
      <br><br>
    <div class="row">
      <div ng-repeat="image in templates.images | limitTo:4">
      <div class="col-md-3">
        <img class="img-full" ng-src="image/{{image.name}}" ng-click="setImage(image)">
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-8">
    <h3>{{templates.name}}</h3>
    <p>{{templates.description}}</p>
    <h4>{{templates.price | currency:"&#8377;"}}</h4>
    BUY IT
  </div>
</div>
