<template name="footer">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Home, sweet home</h4>
                    <p>
                        somewhere,<br/>
                        somewhere, <br/>
                        Digboi, India.
                    </p>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4">
                    <h4>My Links</h4>
                    <p>
                        <a href="https://in.linkedin.com/in/angshumangupta">LinkedIn</a><br/>
                        <a href="https://github.com/angshu-min-js">Github</a><br/>
                        <a href="http://angshu-min-js.github.io">Personal</a><br />
                        <a href="/admin">Admin Log In</a>
                    </p>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4">
                    <h4>About Angshu</h4>
                    <p>This a web application to portray the portfolio of a person/organisation</p>
                    <p>And you check out the admin page by U: admin@example.com P: password</p>
                </div><!-- /col-lg-4 -->

            </div>

        </div>
    </div>
</template>
