<template name="home">
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="assets/img/user.png" alt="angshu">
                    <h1>Hi, I am Angshu!</h1>
                    <p>Hello everybody. I'm Angshu, a full stack engineer extraordinare. This a web app to showcase for portfolio with a blog</p>
                    <p>Its build by using meteor and bootstrap template</p>

                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->

    {{> work}}
</template>
